<html>
<head>
	<title>To-Do List</title>
</head>
<body>
	<div class="greeting">
	    Welcome, {{ user.first_name }}! <br>
		Today is {% now "F d, Y" %}.
	</div>
	<br>
	<form method="POST">
		<input id="new_item_text" name="new_item_text" placeholder="New To-Do" />
		{% csrf_token %}
	</form>
	<h3>To-Do</h3>
    <table id="item_list">
    	{% for item in items %}
    		<tr><td>{{ forloop.counter }}</td> <td class="item_text">{{ item.text }}</td></tr>
    	{% endfor %}
    </table>
</body>
</html>