{% extends 'base.html' %}

{% block body %}

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<h2>Welcome, {{ user.first_name }}! <br/>
			<small>Today is {% now "l, F d, Y" %}.</small>
		</h2>

		<form class="form-horizontal" method="POST" action="/home/new_item">
			<div class="input-group">
				<input type="text" class="form-control" id="new_item_text" name="new_item_text" placeholder="New To-Do" autofocus />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
					</button>
				</span>
			</div>
			{% csrf_token %}
		</form>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			  <ul class="nav nav-pills nav-justified">
			    <li class="active"><a href="#company" data-toggle="tab">Daily</a></li>
			    <li><a href="#pressroom" data-toggle="tab">Weekly</a></li>
			    <li><a href="#contacts" data-toggle="tab">Monthly</a></li>
			  </ul>
			</div>
		</div>

		<div class="panel panel-primary voffset3">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-list"></span>&nbsp;
				<span class="panel-title">To-Do</span>
			</div>
			<div class="panel-body" id="item_list">
				{% with items=daily_items %}
				<form method="POST" role="form" id="todo-checklist">
					{% for item in items %}
						<div class="input-group voffset1 todo_item" id="item-{{item.id}}">
							<span class="input-group-addon">
								<input type="checkbox" value="{{item.id}}"
									class="toggle_complete" id="checkbox-{{item.id}}"
									{% if item.completed %} checked {% endif %}
									{% if item.cancelled %} disabled {% endif %}>
							</span>
							<span class="form-control
								{% if item.cancelled %} disabled {% endif %}
								">
								<label for="checkbox-{{item.id}}">
									<span class="item_text">{{item.text}}</span>
								</label>
								<big>
									{% if item.cancelled %}
										<span class="label label-default pull-right">
											Cancelled
										</span>
									{% elif item.completed %}
										<span class="label label-success pull-right">
											Completed <!--{{item.marked_on | date:"n / j"}}-->
										</span>
									{% elif item.overdue %}
										<span class="label label-danger pull-right">
											Overdue by {{item.overdue_by}} day{{item.overdue_by|pluralize}}
										</span>
									{% elif item.due %}
										<span class="label label-warning pull-right">
											Due Today
										</span>
									{% elif item.due_on %}
										<span class="label label-info pull-right">
											Due in {{item.due_in}} day{{item.due_in|pluralize}}
										</span>
									{% endif %}
								</big>
							</span>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    <span class="glyphicon glyphicon-edit"></span> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="#date_dialog" class="reschedule_link" data-toggle="modal" data-target="#date_dialog" data-itemid="{{item.id}}" data-itemdueon="{{item.due_on}}" data-itemtext="{{item.text}}">
							    	<span class="glyphicon glyphicon-time"></span> &nbsp; Reschedule Item
							    </a></li>
							    <li><a href="/home/cancel_item/{{item.id}}" class="cancel_link">
							    	{% if item.cancelled %}
							    	<span class="glyphicon glyphicon-share-alt"></span> &nbsp; Restore Item
							    	{% else %}
										<span class="glyphicon glyphicon-minus-sign"></span> &nbsp; Cancel Item
										{% endif %}
							    </a></li>
							    <li><a href="/home/delete_item/{{item.id}}" class="delete_link">
							    	<span class="glyphicon glyphicon-trash"></span> &nbsp; Delete Item
							    </a></li>
							  </ul>
							</span>
						</div>
					{% endfor %}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-pull-1 voffset3">
		<a href="{% url "logout" %}" id="logout" class="btn btn-info">
		Log-out</a>
	</div>
</div>

{% endblock %}

{% block scripts %}
<div class="modal fade" id="date_dialog" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal_label">Reschedule Item</h4>
      </div>
      <form method="POST" role="form" action="{% url "reschedule_item" %}">
      	{% csrf_token %}
      	<input type="hidden" name="item_id" id="date_dialog_itemid">
	      <div class="modal-body">
	          <div class="form-group">
	            <label for="date_dialog_itemtext" class="control-label">Text:</label>
	            <input type="text" class="form-control" id="date_dialog_itemtext" readonly>
	          </div>
	          <div class="form-group">
	            <label for="date_dialog_dueon" class="control-label">Due on:</label>
	            <input type="text" class="form-control" id="date_dialog_datepicker"></input>
	            <input type="hidden" id="date_dialog_dueon" name="due_on" />
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<script language="javascript" type="text/javascript">
$(function() {
	$('#date_dialog_datepicker').datepicker({
		dateFormat: "M. d, yy",
		altFormat: "yy-mm-dd",
		altField: "#date_dialog_dueon"});
});

// Post when checkbox is ticked/unticked
$('#todo-checklist input:checkbox').change(function() {
	var item_id = $(this).val()
	$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});
  $.post("{% url "toggle_complete_item" %}", {item_id : item_id}, function(data, val){
  	location.reload()
  });
});

// Show text and due date of item
$('#date_dialog').on('show.bs.modal', function (event) {
  var link = $(event.relatedTarget)
  var item_id = link.data('itemid')
  var text = link.data('itemtext')
  var due_on = link.data('itemdueon')

  var modal = $(this)
  modal.find('#date_dialog_itemid').val(item_id)
  modal.find('#date_dialog_itemtext').val(text)
  modal.find('#date_dialog_datepicker').datepicker('setDate', due_on)
})
</script>

{% endblock %}