{% extends 'base.html' %}

{% block body %}

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<h2>Welcome, {{ user.first_name }}! <br/>
			<small>Today is {% now "F d, Y" %}.</small>
		</h2>

		<form class="form-horizontal" method="POST" action="/home/new_item">
			<input class="form-control" type="text" id="new_item_text" name="new_item_text" placeholder="New To-Do" autofocus />
			{% csrf_token %}
		</form>

		<div class="panel panel-primary" id="item_list">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-list"></span>&nbsp;
				<span class="panel-title">To-Do</span>
			</div>
			<div class="panel-body" id="item_list">
				<form method="POST" role="form" id="todo-checklist">
					{% for item in items %}
						<div class="input-group voffset1 todo_item" id="item-{{item.id}}">
							<span class="input-group-addon">
								<input type="checkbox" value="{{item.id}}"
									class="toggle_complete" id="checkbox-{{item.id}}"
									{% if item.completed %} checked {% endif %}
									{% if item.cancelled %} disabled {% endif %}>
							</span>
							<span class="form-control">
								<label for="checkbox{{item.id}}">
								<span class="item_text">{{item.text}}</span>
								</label>
								{% if item.cancelled %}
								<big><span class="label label-warning pull-right">
									Cancelled
								</span></big>
								{% elif item.completed %}
								<big><span class="label label-success pull-right">
									Completed {{item.completed_on | date:"n / j"}}
								</span></big>
								{% endif %}
							</span>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    <span class="glyphicon glyphicon-edit"></span> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="/home/cancel_item/{{item.id}}" class="cancel_link">
							    	{% if item.cancelled %}
							    	<span class="glyphicon glyphicon-share-alt"></span> &nbsp; Restore Task
							    	{% else %}
										<span class="glyphicon glyphicon-remove"></span> &nbsp; Cancel Task
										{% endif %}
							    </a></li>
							  </ul>
							</span>
						</div>
					{% endfor %}
				</form>
			</div>
		</div>

		<!-- 
		<div class="panel panel-success" id="completed_item_list">
			<div class="panel-heading">
				<span class="panel-title">Completed</span>
			</div>
			<div class="panel-body" id="item_list">
			</div>
		</div>

		<div class="panel panel-warning" id="cancelled_item_list">
			<div class="panel-heading">
				<span class="panel-title">Cancelled</span>
			</div>
			<div class="panel-body" id="item_list">
			</div>
		</div>
		-->

	</div>

	<div class="col-md-2 col-md-pull-1 voffset3">
		<a href="/logout" id="logout" class="btn btn-info">Log-out</a>
	</div>
</div>

<script language="javascript" type="text/javascript">
$('#todo-checklist input:checkbox').change(function() {
	var item_id = $(this).val()
	$.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});
  $.post("/home/toggle_complete_item", {item_id : item_id}, function(data, val){
  	location.reload()
  	//$("#item-"+item_id).load()
  });
});
</script>

{% endblock %}