input[type=checkbox] {
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
}

label .item_text {
	font-weight: normal;
}

#item_list {
	padding: 0px 5px 0px 5px;
}

#todo-checklist {
	margin-bottom: 5px;
}

.form-control.disabled {
	background-color: #f6f6f6;
}